{% extends "recipe/base.html" %}
{% block title %}List - Recipe App{% endblock %}

 {% block content %}
<h2>Welcome to the Recipes</h2>
<table class="table">
  <thead class="thead-dark">
    <tr class="shadow-lg">
      <th scope="col">#</th>
      <th scope="col">Recipe Name</th>
      <th scope="col">Recipe Description</th>
      <th scope="col">Image</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
        {% for recipe in recipes%}
        <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{recipe.title}}</td>
        <td>{{recipe.description}}</td>
        <td>
                <img src="/media/{{recipe.image}}" style="height : 100px">
        </td>
        <td class="gap-1">
                <button  href="#" type="button" class="btn btn-info">Edit</button>
                <button  href="#" type="button" class="btn btn-danger">Delete</button>

        </td>
        </tr>
        {% endfor %}
  </tbody>
</table>
{% endblock %}