{% extends "recipe/base.html" %}
{% block title %}Recipe detail - Recipe App{% endblock %}
{% block content %}
    <h2>Welcome to {{recipe.title}} Page</h2>

                {% if recipe.image %}
                  <img src="{{ recipe.image.url }}" onerror="this.onerror=null;this.src='/static/images/404.jpg';" style="height: 100px;">
                {% else %}
                    <img src="/static/images/404.jpg" style="height: 300px;">
                {% endif %}    <div>
        {{recipe.description}}
    </div>
{% endblock content %}